.pokedex{
  padding: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.pokedex-title {
  margin-bottom: 30px;
}

.pokedex-pokemon {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 50px;
}

.nextBtn , .previousBtn {
  background-color: #006afa;
  color:white;
}

.nextBtn:disabled{
  display: none;
}

.previousBtn:disabled{
  display: none;
}

.pokedex-filters{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 400px;
}
