body {
  text-align: center;
}

ul,
ol {
  list-style: none;
}

li {
  margin: 0 auto;
  height: 50px;
  font-size: 20px;
}

ul:nth-child(n+2):nth-child(-n+6) li {
  display: inline;
}

.first {
  background-color: rgb(235, 200, 84);
  width: 200px;
}

.second {
  background-color: rgb(219, 219, 219);
  width: 300px;
  display: inline-block;
}

.third {
  display: inline-block;
  background-color: rgb(170, 142, 106);
  width: 300px;
}
