:root {
  --primary: #dadada;
  --charcoal: #366d85;
  --persian-green: #2a9d8fff;
  --orange-yellow-crayola: #e9c46aff;
  --sandy-brown: #f4a261ff;
  --burnt-sienna: #e76f51ff;
}

body {
  background-color: var(--primary);
  font-family: Roboto, sans-serif;
  font-size: 18px;
  color: var(--charcoal) ;
  text-align: justify;
  margin: 0;
}

img {
  width: 400px;
  display: block;
  margin: 1.5em auto;
}


table {
  text-align: center;
  margin: 1em auto;
}

th, td {
  border-bottom: 1px solid #949494;
  padding: .3em;
}

a {
  text-decoration: none;
  color: var(--persian-green);
  font-weight: bold;
}

ul {
  list-style: none;
  padding-left: 1em;
}

iframe {
  width: 100%;
  height: 300px
}


#header {
  text-align: center;
  font-size: 1.5em;

}

#nav {
  background-color: var(--charcoal);
  height: 70px;
  margin: 0 0 1em 0;
  vertical-align: middle;
  text-align: center;
}

.nav-item {
  font-size: 1.5em;
  color: var(--primary);
  display: inline-block;
  text-decoration: none;
  margin: 18px 2em;
}

#principal, #side-bar {
  background-color: var(--sandy-brown);
  margin: 0;
}

#principal {
  padding: 1em 3em;
  float: left;
  width: 55%;
  margin: 0 10px 1em 20px;
}

#side-bar {
  padding: 1em 2em;
  float: right;
  margin: 0 20px 0 10px;
  
}

#footer{
  clear: both;
  padding: 10px;
  text-align: center;
  background-color: var(--charcoal);
  color: var(--primary);
}