body{
  font-size: 20px;
}

h1, p{
  text-align: center;
}

ol, ul{
  list-style: none;
}

ol,a{
  transition: 1s;
}

ol:hover{
  background-color: rgb(204, 204, 204);
}

a:focus{
  font-family:  'Hanalei', cursive;
}