/*
Exercícios:
1- Posicione o Mário acima do Goomba.
2- Posicione a tag p para que fique dentro do balão de fala.
3- Posicione o balão para que se torne uma fala de Bowser.
4- Posicione os elementos para que tenham alguma distância entre si.
*/

/* * {
  margin: 0;
  padding: 0;
} */

.block-left {
  display: inline-block;
  vertical-align: bottom;
}
.block-right {
  display: inline-block;
  margin-left: 50px;
}

.super-mario,
.bowser {
  height: 100px;
}

.super-mario {
  display: block;
}

.goomba {
  height: 70px;

}

.word {
  font-size: 8px;
  position: relative;
  top: -2px;
  left: 9px;
}

.baloon {
  width: 90px;
  position: relative;
  top: -100px;
  z-index: -1;
  left: 5px;
}

.bowser {
  padding: 10px 0;
}
