* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu";
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

.header-container {
  display: flex;
  background-color: dimgrey;
  color: white;
  justify-content: space-around;
  align-items: center;
}

.paragraph {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.cards-container{
  display: flex;
  margin: 20px auto;
  justify-content: center;
  width: 630px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: whitesmoke;
  margin: 10px;
  padding: 20px;
  border-radius: 15px;
  box-shadow:  1px 1px 5px 0px #c0c0c0;
}

.card-title {
  margin-bottom: 10px;
}

